<%- include("../partials/head.ejs") %>

<body class="body">
 <%- include("../partials/navigation.ejs") %>
<main>
  <h1 class="text-4xl font-bold text-center mb-4 uppercase">Log in to the file app</h1>
  <div class="flex flex-col justify-center items-center max-w-96 m-auto">
    <form class="form-box" method="post" action="/auth/login">
      <div class="form-field">
        <label for="email" class="form-label">email</label>
        <input id="email" type="email" name="email" value="<%= locals.data ? data.email : '' %>" class="form-input" />
      </div>
      <div class="form-field">
        <label for="password" class="form-label">password</label>
        <input id="password" type="password" name="password" value="" class="form-input" />
      </div>
      <div class="form-field form-field-last">
        <button class="form-button" type="submit">login</button>
      </div>
      <% if(locals.errors) { %>
        <%- include("../partials/errorFields.ejs") %>
      <% } %>
    </form>
  </div>
   
</main>  
</body>

<%- include("../partials/footer.ejs") %>