<%- include("../partials/head.ejs") %>
<!-- <body class="bg-gray-100 flex items-center justify-center h-screen"></body> -->
 <%- include("../partials/navigation.ejs") %>
<body class="body">

<main class="main py-8">
      <div class="flex-1 flex min-h-0 w-full">
        <%- include("../partials/sidebar.ejs") %>
        <div class="dashboard">
          <div class="w-full">
            <div class="dashboard-heading">
              <h2 class="mr-auto">last viewed folders:</h2>
              <a class="flex items-center gap-3 text-lg font-bold uppercase" href="/folder/create">
                <span>Create new folder</span>
                <%- include("../icons/addItem.ejs") %>
              </a>
            </div>
            <% if(locals.folders.length) { %>
              <ul class="dashboard-list gap-8">
                <% locals.folders.forEach(folder => { %>
                  <a href="/folder/<%= folder.id %>" class="dashboard-folder-link">
                    <%- include("../icons/folder.ejs") %>
                    <span><%= folder.name %></span>
                  </a>
                <% }); %>
              </ul>
              <a href="/folder/all">show all folders >></a>
            <% } else { %>
              <em>There is no folders. Create new folder</em>
            <% } %>

           
            <!-- <ul class="dashboard-list gap-8">
              <li class="dashboard-folder-link">
                <%- include("../icons/folder.ejs") %>
                <span>folder 5</span>
              </li>
              <li class="dashboard-folder-item">
                <%- include("../icons/folder.ejs") %>
                <span>new folder name</span>
              </li>
              <li class="dashboard-folder-item">
                <%- include("../icons/folder.ejs") %>
                <span>folder 2</span>
              </li>
              <li class="dashboard-folder-item">
                <%- include("../icons/folder.ejs") %>
                <span>folder 3</span>
              </li>
              <li class="dashboard-folder-item">
                <%- include("../icons/folder.ejs") %>
                <span>folder 4</span>
              </li>
              <li class="dashboard-folder-item">
                <%- include("../icons/folder.ejs") %>
                <span>folder 5</span>
              </li>
            </ul> -->

          </div>
          <div class="flex flex-col">
            <div class="dashboard-heading">
              <h2 class="mr-auto">last added files:</h2>
              <%- include("../partials/uploadFileForm.ejs", { folderId: null }) %>
              <!-- <form class="flex items-center gap-3 form-upload-file" method="post" action="/file/upload" enctype="multipart/form-data">
              <label for="file" class="flex items-center gap-3 text-xl font-bold uppercase cursor-pointer">
                upload file 
                <%- include("../icons/upload.ejs") %>
              </label>
              <input type="hidden" id="folderId" name="folderId" value="<%= null %>" />
              <input class="hidden" type="file" id="file" name="file"/>
              </form> -->
            </div>
            <% if(locals.files.length) { %>
              <table class="dashboard-list file-list gap-5">
                <thead class="w-full">
                  <tr class="dashboard-table-head">
                    <th class="flex flex-2 gap-2 items-center">
                      name:
                    </th>
                    <th class="flex-1">created at:</th>
                    <th class="flex-1">location</th>
                    <th class="h-5 w-5">&nbsp;</th>
                  </tr>
                </thead>
                <tbody class="w-full flex flex-col gap-8">
                  <% locals.files.forEach(file => { %>
                    <tr data-id="<%= file.id %>" class="dashboard-table-row">
                      <td class="flex flex-2 gap-2 items-center">
                        <%- include("../icons/file.ejs") %>
                        <span><%= file.name %></span>
                      </td>
                      <td class="flex-1"><%= new Date(file.created_at).toLocaleString(); %></td>
                      <td class="flex-1"><%- file.folder ? file.folder.name : '&nbsp;' %></td>
                      <td class="relative">
                        <%- include("../icons/more.ejs") %>
                        <%- include("../partials/fileWindowMenu.ejs", {id: file.id, name: file.name }) %>
                      </td>            
                    </tr>
                  <% }); %>
                </tbody>
              </table>
              <a href="#">show all files >></a>
            <% } else { %>
                  <em>There is no files. Add new file</em>
            <% } %>

          </div>
        </div>
      </div>
</main>  

<script src="../../../public/js/uploadFile.js"></script>
<script src="../../../public/js/itemWindow.js"></script>
<script src="../../../public/js/downloadFile.js"></script>
</body>

<%- include("../partials/footer.ejs") %>